.entrance-slider{
    position: relative;
    width: 100%;
    margin-top: 30px;
}

/* Slider */

.entrance-slide{
    width: 90vw;
    height: 24vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 .5vw;
    position: relative;
}

.slick-slide div{
    outline: none;
}

.entrance-slide-image{
    width: 90vw;
    height: calc(100% - 2vw);
    -webkit-box-shadow: 0 15px 20px -6px black;
	   -moz-box-shadow: 0 15px 20px -6px black;
	        box-shadow: 0 15px 20px -6px black;
    cursor: pointer;
}

.entrance-slide-image-not-active{
    filter: brightness(50%);
}

.entrance-slide-title{
    position: absolute;
    top: 12%;
    left: 7vw;
    width: 25vw;
}

.slider-btn{
    width: 5.5vw;
    background-color: transparent;
    height: 100%;
    cursor: pointer;
    position: absolute;
    top: 0;
    border: none;
}

.slider-btn-prev{
    left: 0;
}

.slider-btn-next{
    right: 0;
}

.slider-btn-prev-content,
.slider-btn-next-content{
    opacity: 0;
    transition: all .2s ease-in-out;
}

.slider-btn-prev:hover .slider-btn-prev-content{
    opacity: 1;
}

.slider-btn-next:hover .slider-btn-next-content{
    opacity: 1;
}

.slider-arrow{
    color: white;
    font-size: 40px;
}

.slick-arrow{
    display: none;
}

.slick-next{
    display: none;
}

.slick-dots.slick-thumb {
    position: absolute;
    bottom: 13%;
    right: 10%;
    width: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .slick-dots.slick-thumb li {
    width: 6px;
    height: 6px;
    margin: 0 6px;
    border-radius: 50%;
    background-color: rgb(163, 163, 163);
  }
  
  .slick-dots.slick-thumb li.slick-active {
    background-color: rgb(255, 255, 255);
  }

  .dot{
    position: absolute;
    width: 6px;
    height: 6px;
    top: -10px;
    opacity: 0;
    }

  @media  all and (max-width: 1000px){
    .entrance-slider{
        margin: 0;
    }

    .entrance-slide-image{
        -webkit-box-shadow: 0 8px 10px -6px black;
           -moz-box-shadow: 0 8px 10px -6px black;
                box-shadow: 0 8px 10px -6px black;
    }

}

@media all and (max-width: 700px){
    .slider-arrow{
        font-size: 20px;
    }
}