.categories-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.categories-wrapper{
    display: flex;
}

@media all and (max-width: 1000px){
    .categories-container{
        flex-direction: column;
        align-items: center;
    }

    .categories-wrapper:first-child{
        margin-bottom: 20px;
    }
}