.category{
    width: 13vw;
    height: 7.1vw;
    margin: 0 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: rgb(53,53,62);
    background: linear-gradient(180deg, rgba(53,53,62,1) 0%, rgba(32,32,43,1) 100%);
    -webkit-box-shadow: 0 15px 20px -6px rgb(8, 8, 8);
	   -moz-box-shadow: 0 15px 20px -6px rgb(8, 8, 8);
	        box-shadow: 0 15px 20px -6px rgb(8, 8, 8);
    background-color: red;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: transform .3s;
}

.category:hover{
    transform: scale(1.05)
}

.category:hover .category-bg{
    opacity: 1;
}

.category-logo{
    width: 100%;
    z-index: 50;
    pointer-events: none;
}

.category-border{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid rgb(76, 76, 88);
    border-radius: 10px;
    z-index: 40;
    pointer-events: none;
    transition: border .3s;
}

.category:hover .category-border{
    border-color: rgb(199, 199, 199);
}

.category-bg{
    position: absolute;
    top: 0;
    opacity: 0;
    width: 100%;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
}

@media all and (max-width: 1000px){
    .category{
        width: 26vw;
        height: 14vw;
    }
}