.originals-container{
    position: relative;
    padding-top: 90px;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 500;
    position: sticky;
    top: 70px;
    left: 0;
}

.header-after-scroll{
    background-color: #1A1D29;
}

.originals-headline{
    color: white;
    letter-spacing: 12px;
    transition: all .3s;
    padding: 70px 0;
}

.originals-headline-initial{
    font-size: 40px;
}

.originals-headline-after-scroll{
    font-size: 20px;
}

.originals-sliders-container{
    padding-top: 30px;
}

@media all and (max-width: 700px){
    .originals-headline{
        padding: 30px 0;
    }

    .originals-headline-initial{
        font-size: 30px;
    }

    .originals-headline-after-scroll{
        font-size: 15px;
    }
}