.nav-container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    transition: background .2s;
}

.nav-container-initial{
    background: rgb(21,20,25);
    background: linear-gradient(180deg, rgba(21,20,25,1) 19%, rgba(255,255,255,0) 100%);
}

.nav-container-after-scroll{
    background-color: #0E0B14;
}

.nav-content{
    display: flex;
    justify-content: space-between;
}

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.logo{
    width: 80px;
    margin: 0 20px;
}

.nav-list{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav-link{
    display: flex;
    align-items: center;
    padding: 25px 35px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.nav-page-title,
.nav-page-title-res{
    margin: 0 15px;
    position: relative;
}

.nav-page-title::after,
.nav-page-title-res::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: -5px;
    left: 0;
    opacity: 0;
    transition: all .2s ease-in;
}

.nav-link:hover .nav-page-title::after{
    width: 100%;
    opacity: 1;
}

.profile{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 240px;
    padding: 0 20px;
    font-size: 15px;
    color: white;
    border-top: 1px solid rgba(88, 88, 88, 0);
    border-left: 1px solid rgba(88, 88, 88, 0);
    transition: all .1s ease-in;
    position: relative;
}

.profile:hover{
    border-top: 1px solid rgb(88, 88, 88);
    border-left: 1px solid rgb(88, 88, 88);
    background-color: rgb(27, 27, 27);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.user-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 15px;
}

.settings-container{
    width: 240px;
    border-bottom: 1px solid rgb(88, 88, 88);
    border-left: 1px solid rgb(88, 88, 88);
    background-color: rgb(27, 27, 27);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    top: 100%;
    left: -1px;
    padding: 0 10px;
    z-index: 100;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.settings-option{
    font-family: 'Noto Sans', sans-serif;
    color: rgb(216, 216, 216);
    padding: 13px 0;
    cursor: pointer;
}

.settings-option:hover{
    color: white;
}

.add-profile-container:hover .add-profile-btn{
    background-color: rgb(88, 88, 88);
}

.add-profile-container{
    display: flex;
    align-items: center;
    border-top: 1px solid rgb(46, 46, 46);
}

.add-profile-btn{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgb(46, 46, 46);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.hidden-out-of-responsive{
    display: none;
}

.nav-icon-dots{
    position: relative;
    padding: 10px 25px;
    cursor: pointer;
}

.nav-dropdown{
    background-color: rgb(27, 27, 27);
    position: absolute;
    top: 100%;
    left: 20px;
    z-index: 100;
    padding: 10px;
    border: 1px solid rgb(88, 88, 88);
    border-radius: 5px;
}

.nav-dropdown-item{
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
}

.nav-page-title-res{
    letter-spacing: 1px;
    color: white;
    font-weight: bold;
}

.nav-dropdown-item:hover .nav-page-title-res::after{
    width: 100%;
    opacity: 1;
}

@media all and (max-width: 1490px){
    .nav-link{
        padding: 25px 20px;
    }

    .nav-page-title{
        display: none;
    }

    .nav-icon{
        position: relative;
    }

    .nav-icon::after{
        content: '';
        width: 0;
        height: 2px;
        background-color: white;
        position: absolute;
        bottom: -5px;
        left: 0;
        opacity: 0;
        transition: all .2s ease-in;
    }

    .nav-link:hover .nav-icon::after{
        width: 100%;
        opacity: 1;
    }

    .hidden-in-responsive{
        display: none;
    }

    .hidden-out-of-responsive{
        display: flex;
    }

    .profile p{
        opacity: 0;
    }

    .profile:hover p{
        opacity: 1;
    }
}

@media all and (max-width: 700px){
    .logo{
        width: 50px;
        margin: 0 10px 0 5px;
    }

    .nav-link{
        padding: 25px 13px;
    }

    .nav-icon-dots{
        padding: 20px 13px;
    }

    .nav-dropdown{
        left: 0;
    }

    .user-img{
        width: 35px;
        height: 35px;
    }

    .profile{
        position: absolute;
        top: 0;
        right: 0;
        padding: 15px;
        width: 170px;
    }
}