.entrance-slider{
    position: relative;
}

.entrance-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    position: relative;
}

.entrance-slide-image{
    width: 100%;
}

.entrance-slide-title{
    position: absolute;
    top: 20%;
    left: 7vw;
    width: 25vw;
}