.details-container{
    width: 100%;
    height: 90vh;
    background-color: rgb(26, 29, 41);
    position: relative;
}

.details-background{
    width: 100%;
    position: relative;
}

.details-img{
    width: 100%;
}

.details-content-inner-shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1a1d29;
}

.shadow-left{
    background: linear-gradient(90deg, rgb(26, 29, 41) 0%, rgb(26, 29, 41) 0%, rgba(9,9,121,0) 75%);
}

.shadow-bottom{
    background: linear-gradient(0deg, rgb(26, 29, 41) 0%, rgb(26, 29, 41) 0%, rgba(9,9,121,0) 75%);
}

.details-content{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 60%;
    padding: 35vh 100px;
}

.details-content-title{
    font-size: 60px;
    color: white;
    letter-spacing: 4px;
    padding-bottom: 30px;
}

.details-content-btns{
    display: flex;
    align-items: center;
}

.details-content-btn-watch{
    background-color: white;
    padding: 15px 18px;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 7px;
    transition: background-color .2s;
}

.details-content-btn-watch:hover{
    background-color: gray;
}

.details-content-btn-watch-text{
    padding-left: 10px;
    font-size: 17px;
}

.details-contetn-btn-add-container{
    padding-left: 20px;
}

.details-content-btn-add{
    background-color: black;
    padding: 2px 5px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 3px solid white;
    transition: background-color .3s;
    cursor: pointer;
}

.details-content-btn{
    padding-top: 3px;
}

.details-content-btn-add:hover{
    background-color: white;
}

.details-content-btn-add-plus{
    color: white;
}

.details-content-btn-add:hover .details-content-btn-add-plus{
    color: black;
}

.details-content-desc{
    font-family: 'Noto Sans', sans-serif;
    color: white; 
    padding: 30px 0;
    font-size: 20px;
    letter-spacing: 1px;
    border-bottom: 2px solid  white;
}