.details-container{
    width: 100%;
    background-color: aqua;
}

.details-content{
    width: 100%;
}

.details-img{
    width: 100%;
}

/* .details-space{
    height: 200px;
    background-color: aliceblue;
} */

.details-footer{
    height: 70px;
    background-color: red;
    margin-top: 300px;
}