@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}

body{
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background: rgb(45,48,59);
  background: radial-gradient(circle, rgba(45,48,59,1) 0%, rgba(17,21,42,1) 100%);
  background-attachment: fixed;
  background-position: center;
}

p,h1,h2{
  font-family: 'Noto Sans', sans-serif;
}