@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}

body{
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./assets/images/background.png');
  background-attachment: fixed;
  background-position: center;
  overflow-x: hidden;
}

p,h1,h2{
  font-family: 'Noto Sans', sans-serif;
}