.search-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
}

.search-engine{
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1.5px;
    padding: 25px 100px;
    background: rgb(81,81,93);
    background: linear-gradient(180deg, rgba(81,81,93,1) 19%, rgba(111,112,129,1) 100%);
    filter: brightness(70%);
    border: none;
    outline: none;
    transition: all .3s;
    color: white;
}

.search-engine:focus{
    filter: brightness(100%);
}

.search-header{
    width: 90vw;
    padding: 40px 0 10px;
    color: white;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
}

.search-content{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.search-content-movies{
    display: grid;
    grid-template-columns: repeat(5, calc(16.5vw + 0.05*16.5vw));
    gap: 1vw;
}

@media all and (max-width: 1300px){
    .search-engine{
        font-size: 30px;
        padding: 25px 70px;
    }

    .search-header{
        width: 75vw;
    }

    .search-content-movies{
        grid-template-columns: repeat(4, calc(16.5vw + 0.05*16.5vw));
        gap: 2vw;
    }
}

@media all and (max-width: 700px){
    .search-engine{
        font-size: 18px;
        padding: 25px 15px;
    }
    
    .search-header{
        width: 80vw;
    }

    .search-content-movies{
        grid-template-columns: repeat(3, calc(25vw + 0.05*20vw));
        gap: 2vw;
    }

    .movie-block-container{
        height: calc(15vw + 0.05*15vw);
        width: calc(25vw + 0.05*25vw);
    }
    
    .movie-block-content{
        height: 15vw;
        width: 25vw;
    }
}